BorderPane {
	-fx-background-color: white;
}

#head {
	-fx-background-color: black;
	-fx-pref-height: 75px;
}

#mainScrollPane {
	-fx-background-color: white;
}

#btnActivity {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-border-color: lightblue;
}

#btnTransfer {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-border-color: lightblue;
}

#btnSettings {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-border-color: lightblue;
}

#btnLogout {
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-border-color: lightblue;
}